<!DOCTYPE html>
<html>

<head>

    <link href="CSS/baseStyle.css" rel="stylesheet" type="text/css"/>
    <link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="JS/script.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <title>
        World Scope
    </title>


</head>

<body onload="showMap(); showResultMarkers();">

<div id="wrapper">

    <div id="header">
        <button id="homeButton" onclick="returnIndexPage();">Home</button>
        World Scope
        <span> - browse cities in the world for your next trip</span>
    </div>

    <div id="main">
        <div id="map"></div>

        <div id="search">
            <p id="searchTitle">Search for a city here:</p>

            <form name="searchForm" onsubmit="return (validateSearch(this));" action="/search" method="get">
                <input type="text" list="cities" name="city" placeholder="Enter a city's name">
                <datalist id="cities">
                    {{#each cities}}
                        <option class="cities" crd="{{lat}},{{lon}}" value="{{city}}, {{country}}">{{city}}, {{country}}</option>
                    {{/each}}
                </datalist>

                <input type="submit" id="searchButton" value="Search">
            </form>
            <br><br>

            <div id="result">
                <fieldset>
                    <legend id="resultTitle" cityname="{{resultCity}}" lat="{{lat}}" lon="{{lon}}">{{resultTitle}}</legend>
                    {{#each photos}}
                        <a class="redirectUrls"
                           href="/photo?farm={{farm}}&server={{server}}&id={{id}}&secret={{secret}}&city={{photoCity}}&country={{photoCountry}}&lat={{lat}}&lon={{lon}}&tags={{tags}}">
                            <img class="photosBox" lat="{{lat}}" lon="{{lon}}" src="{{url}}"/>
                        </a>
                    {{/each}}
                </fieldset>
            </div>
        </div>
    </div>

    <div id="footer">

    </div>

</div>

</body>

</html>